<h2>Current Discounts</h2>
<section>
  <% @discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <p><%= discount.percentage %>% off <%= discount.item_amount %> items</p>
    <%= link_to "Edit Discount", "/merchant/discounts/#{discount.id}/edit", method: :get %><br><br>
  </div>
  <% end %>
</section><br><br><br>

<section>
  <%= link_to "Add New Discount", "/merchant/discounts/new", method: :get %>
</section>
