<h3>Customer: </h3>
<%= @order.user.name %>
<br>
<h3>Address: </h3>
<%= @order.user.address %>
<br>
<%= @order.user.city %> <%= @order.user.state %> <%= @order.user.zip %>
<br><br>
<h3>Order information</h3>
Status: <%= @order.status %>
<% @merchant.order_items_by_order(@order.id).each do |order_item| %>
  <section id="order-item-<%= order_item.id %>">
    Item: <%= order_item.item.name %>
    <br>
    Unit Price: <%= number_to_currency(order_item.price) %>
    <br>
    Quantity: <%= order_item.quantity %>
    <br>
    Total: $<%= order_item.price * order_item.quantity %>
    <br>
    <% if order_item.fulfilled? %>
      <h3>Fulfilled</h3>
    <% elsif order_item.fulfillable? %>
      <h3><%= link_to 'Fulfill Order', "/merchant/orders/#{@order.id}/fulfill/#{order_item.id}" %></h3>
    <% else %>
      <h3>Insufficient Inventory</h3>
    <% end %>
  </section>
<% end %>
